@media screen and (max-width: 768px) {
    .bmi{
        position: relative;
        background-color: gainsboro;
        bottom: 270px;
        left: 15%;
        height: 55vh;
        width: 18em;
    }
    .pee{
        background: -webkit-linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(31,16,127) 103.9% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}
@media screen and (min-width: 769px) {
    .bmi{
        position: absolute;
        background-color: gainsboro;
        top: 280px;
        left: 50%;
        height: 90vh;
        width: 35em;
    }
    .pee{
        background: -webkit-linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(31,16,127) 103.9% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}